.container {
  margin-top: 2rem;
  text-align: center;
}

.renderCount {
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 16px;
  color: yellow;
}

.num {
  font-size: 24px;
  margin: 12px 0;
}
