.container {
  margin-top: 2rem;
  text-align: center;
}

button {
  width: 300px;
  height: 48px;
  background: #7a00a7;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.renderCount {
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 16px;
  color: yellow;
}

.num {
  font-size: 24px;
  margin: 12px 0;
}
