.back-home {
  position: fixed;
  bottom: 5rem;
  left: 5rem;
  opacity: 0.75;

  a {
    text-decoration: none;
  }

  .button {
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 2px;
    background: none;
    background-color: lightgray;
    color: white;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.15s;
    appearance: none;
  }

  .button:hover,
  .button:focus {
    border: 2px solid darkslategrey;
    color: darkslategrey;
  }

  .button:active {
    background-color: rgba(112, 76, 182, 0.2);
  }
}

button {
  width: 300px;
  height: 48px;
  background: #9c24c7;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background: #792299;
  }
}
